.app-body {
	margin: 1rem 0;
}
.nav-styles {
	background-color: #1a1b22 !important;
}
.nav-styles a {
	color: white;
}
.nav-styles a:hover {
	color: #c9c9c9;
}
.nav-link.active {
	color: #e64758 !important;
}
.dropdown-item {
	color: #1a1b22 !important;
}
.dropdown-item:hover {
	color: #252830 !important;
}