<div class="container">

	<h5 class="headline">{{ pageTitle }}</h5>

	<div class="card my-2" *ngFor="let doc of documents">
		
		<img class="card-img-top" src="{{ doc.image_url }}" alt="Card image cap" width="100%">

		<div class="card-block p-2">
			<h4 class="card-title"> {{ doc.title }} </h4>

			<p class="card-text"><small class="text-muted">Last updated: {{ doc.updated_at | date }}</small></p>

			<p class="card-text"> {{ doc.description }} </p>

			<div>
				<a class="btn btn-primary" href="{{ doc.file_url }}"> Download File </a>
			</div>

		</div>
	</div>

</div>